.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18rem 0;
  text-align: center;
}

.login-header {
  font-size: 9.375rem;
  font-family: Roboto;
}

.login-form {
  display: flex;
  margin: 40px 0;
}

.login-input-options,
.login-inputs {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
}

.login-input-options {
  margin-right: 3.563rem;
}

.login-input-label,
.login-input {
  font-size: 2.5rem;
}

.login-input-label {
  text-align: right;
}

.email-label {
  margin: 1rem 0;
}

.password-label {
  margin: 3.625rem 0 1rem;
}

.login-input {
  width: 27.5rem;
  height: 4.688rem;
  font-size: 2.5rem;
  color: #a4a4a4;
}

.email-input {
  margin: 0 0 1.25rem;
}

.password-input {
  margin: 1.25rem 0 0;
}

.login-button {
  background-color: white;
  font-family: Roboto;
  font-size: 2.5rem;
  padding: 1.313rem 6.563rem;
  cursor: pointer;
  border: 1px solid #707070;
}
